body {
     text-align: center;
     background-color: aqua;


}
    h1{
background-color: rgb(109, 64, 64);

    }
    p {
     font-size: 25px;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     color: blue;

    }
    